/* Global Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--medium-gray);
  list-style: none;
  text-decoration: none;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  font-family: var(--epilogue-regular);
}

body {
  background: var(--almost-white);
  overflow-x: hidden;
}

a {
  font-size: 1.5rem;
  font-family: var(--epilogue-medium);
  color: var(--medium-gray);
  cursor: pointer;
}

h1 {
  font-size: 7rem;
  font-family: var(--epilogue-bold);
  color: var(--almost-black);
}

p {
  font-size: 1.8rem;
}
